@model MVCDemo.Models.EmployeeModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3 class="text-danger">Are you sure you want to delete this?</h3>
<div>
  
    <hr />
    <table class="table">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Department)
            </td>
            <td>
                @Html.DisplayFor(model => model.Department)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Salary)
            </td>
            <td>
                @Html.DisplayFor(model => model.Salary)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Gender)
            </td>
            <td>
                @Html.DisplayFor(model => model.Gender)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Age)
            </td>
            <td>
                @Html.DisplayFor(model => model.Age)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.City)
            </td>
            <td>
                @Html.DisplayFor(model => model.City)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.DateOfJoining)
            </td>
            <td>
                @Html.DisplayFor(model => model.DateOfJoining)
            </td>
        </tr>
    </table>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
